@import 'dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-bg: #fff;
}

html {
  background: var(--c-bg);
  transition: background 0.1s linear !important;
}

.box-shadow-custom {
  @apply shadow-xl;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

